body {
    background-color: gray;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    /* Mágica! Centra vertical E horizontalmente */
    /* ... o resto do seu código ... */
}

.modal-visivel {
    display: flex;
}