* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

body {
    background-color: #c9c9c9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    

}
.grid-container{
    display: grid;
    min-height: 100vh;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;

    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
}


.flex {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;


}

.placeholder-logo {

    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
}

.search-bar {
    height: 30px;
    width: 900px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    color: lightgrey;
}

.user-actions {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 5px;
}

nav {
    background-color: #e74c3c;
}

.nav-area {
    padding: 20px;
    line-height: 2em;
    font-weight: bold;
}

.nav-area ul {
    padding: 0;
    list-style: none;
}

.nav-area a {
    text-decoration: none;
    color: white;
}

.nav-area a:hover {
    color: #95a5a6;
}

.main-title {
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.placehouder-card {

    width: 500px;
    height: 200px;
    background-color: gray;
    border-bottom: 2px solid #e74c3c;

}


.grid-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}

.info-card {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);

}


.conteudo-card {    
    display: flex;    
    flex-direction: column;  
    align-items: center;   
    margin: 40px; 
}

.other-content{    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

footer {
    background-color: #333;
}

.header-area {
    grid-area: header;
}

.nav-area {
    grid-area: nav;
}

.main-area {
    grid-area: main;
}

.footer-area {
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
}* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

body {
    background-color: #c9c9c9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;
    min-height: 100vh;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;

    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";

}


.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
}


.flex {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;


}

.placeholder-logo {

    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
}

.search-bar {
    height: 30px;
    width: 900px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    color: lightgrey;
}

.user-actions {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 5px;
}

nav {
    background-color: #e74c3c;
}

.nav-area {
    padding: 20px;
    line-height: 2em;
    font-weight: bold;
}

.nav-area ul {
    padding: 0;
    list-style: none;
}

.nav-area a {
    text-decoration: none;
    color: white;
}

.nav-area a:hover {
    color: #95a5a6;
}

.main-title {
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.placehouder-card {

    width: 500px;
    height: 200px;
    background-color: gray;
    border-bottom: 2px solid #e74c3c;

}


.grid-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}

.info-card {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);

}


.conteudo-card {    
    display: flex;    
    flex-direction: column;  
    align-items: center;   
    margin: 40px; 
}

.other-content{    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

footer {
    background-color: #333;
}

.header-area {
    grid-area: header;
}

.middle-area {
    grid-area: middle-area;
}

.main-area {
    grid-area: main;
}

.footer-area {
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
}