* {
    box-sizing: border-box;
}

body{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 0;  

   
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: #190427;
    width: 350px;
    color: white;
    padding: 20px;  
    
}

.menu {
    padding-top: 50px;
}
.menu ul{
    padding: 0;
}
.menu li{
    list-style: none;    
}

.menu a {
    text-decoration: none;
    color: white;
    line-height: 2em;
}

.menu a:hover{
    background-color:#590f8a;
    padding: 10px;
    border-radius: 5px;
}
.main-content{
    background-color:rgb(244, 238, 255);
    flex: 1;
}
header {
    background-color: #190427;
    height: 120px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.welcome h2{
    padding: 0;
    margin: 0;
    
}

.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
    
}

.placeholder-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

.sales h2 {
    text-align: center;
    padding: 30px;
}

.grid-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.sales-cards{      
    background-color: white;
    padding: 50px;    
    border-radius: 5px;
    flex: 1;
    text-align: center;

}

main {
    padding: 50px;
}
