* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.pricing-section {
    background-color: #ecedee;
    padding: 50px 0;
}

.pricing-section h2 {
    text-align: center;
}

.pricing-grid {
    display: flex;
    gap: 30px;
}

.pricing-plan {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 0px;
    border-radius: 8px;
}

.pricing-plan.featured {
    border: solid 1px tomato;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}
.pricing-plan.featured .badge{
    background: #d33737;
    color: white;
    padding: 4px 2px;
    border-radius: 4px;
    position: absolute;
    top: -15px;
    right: 20px;    
    
}

.pricing-plan .price{
    color: #d33737;
    font-weight: bold;
}

.pricing-plan ul{
    padding: 0;
    list-style: none;
    line-height: 1.5em;
}



.pricing-plan button{
    background-color: #d33737;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
}

