/* ==== CONFIGURAÇÃO GLOBAL ==== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f9;
}

.container {
    width: 100%;
    max-width: 1100px; /* Consistência */
    margin: 0 auto;
    padding: 5px 0;
}


header{    
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

header h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


/*SEÇÃO PRINCIPAL*/
.teams .container h2{
    text-align: center;
    padding: 20px;
}

.teams-grid{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.card-image-placeholder{
    margin: 10px auto;
    height: 70px;
    width: 70px;    
    background-color: darkgrey;  
    border-radius: 50%;    
}
.team-card{
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    
}

.info-card{
    padding: 0px 20px;
}

.footer-card{
    background-color:ghostwhite;
    margin: 10px;
}

.footer-card {
text-align: center;
}
.social-icon{
    width: 25px;
    height: 25px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block; 
    margin: 5px;
    
}
.main-footer {
    background-color: #e0e0e0;
    color: #000000;
    padding: 25px 0;
    text-align: center;
}
