* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header {
    background-color: brown;
}

.placeholder__logo {
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 50%;
}

.header__grid {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center
}

.header__logo {
    width: 150px;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-input-placeholder {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    flex: 1;
}

.search-button{
    background-color: brown;
    color: white;
    padding: 11px 25px;
    border-radius: 0px 5px 5px 0px;
    border-color:white;
}

.user-actions {
    width: 150px;
}

.user-actions{
    display: flex;
    gap: 20px;    
    align-items: center;
    padding: 15px;    
    
}

.icon-placeholder{
width: 50px;
height: 50px;
background-color: gray;
border-radius: 5px;
}