body {
    font-family: sans-serif;
    margin: 0;
}

h1 { text-align: center; }

.layout-pai {
    background-color: #f0f0f0;
    border: 3px solid #333;
    margin: 20px;
    height: 500px; /* Altura fixa para visualização */

    /* Ativando o Flexbox no Pai */
    display: flex;
}

.coluna-sidebar {
    background-color: #1d3557; /* Azul Escuro */
    color: white;
    padding: 20px;
    font-size: 1.2em;

    /* A ordem para a largura FIXA */
    width: 250px;
    /* IMPORTANTE: Impedir que encolha se a tela for pequena */
    flex-shrink: 0;
}

.coluna-conteudo {
    background-color: #e0e0e0; /* Cinza Claro */
    padding: 20px;
    font-size: 1.2em;
    
    /* AQUI VAI A ORDEM PARA OCUPAR O RESTO */
    flex: 1;

}