* {
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    padding: 0px;

}

header {
    margin-bottom: 10px;
}

.product-card {
    width: 350px;
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);


}

.card-header {

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-image-container {
    
    background-color: #bdc3c7;
    padding: 100px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
}

.card-body {
    line-height: 1.5em;
}

.discount-badge {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: firebrick;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;

}

.card-footer button {
    background-color: firebrick;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
}