* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: #c9c9c9;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0 0px;
}

header{
    background-color: brown;
    height: 100px;
}

.header-title {
    text-align: center;
    
}

.header-title h2 {    
    display: inline-block;    
    color: white; 
}

.grid-cards{
    padding-top: 80px;
    display: flex;   
    gap: 30px;
}

.plan-column {
    flex:1 ;
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px .05px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-header h3{    
    text-transform: uppercase;
}

.price{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.features-list {
    list-style: none;
    padding: 0;
}


button{
    background-color: brown;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;   
}

footer{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    position: fixed;
    bottom: 0;    
    width: 100%;
   
}


