* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #c9c9c9;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;

}

.card-product {
    background-color: rgb(236, 221, 201);
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    overflow: hidden;
    margin: 150px 10px;

}

.placeholder {
    height: 200px;
    width: 100%;
    background-color: gray;

}

.info-card {
    padding: 0px 20px;
}

.info-card button {
    margin-bottom: 15px;
    border: 2px solid rgb(167, 141, 108);
    ;
    border-radius: 5px;
    background-color: rgb(236, 221, 201);
    color: rgb(167, 141, 108);
    font-weight: bold;
}

@media(min-width: 500px) {
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;        
        padding: 0 20px;
    }

    .card-product{
        flex-direction: row;
        gap: 10px;
       
    }

    .placeholder {
        width: 50%
    }
}