body {
    font-family: sans-serif;
}

h1 { text-align: center; }

.grid-container {
    background-color: #f0f0f0;
    border: 3px solid #333;
    margin: 20px;
    padding: 10px;

    /* --- ATIVE A GRADE AQUI --- */
    display: grid; /* PASSO 1 */
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    background-color: #3498db; /* Azul */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px;
    border: 2px solid white;
    text-align: center;
}

